src/main/resources/greenhouse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="SoilType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="podzolic"/>
            <xs:enumeration value="ground"/>
            <xs:enumeration value="sod-podzolic"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MultiplyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="leaves"/>
            <xs:enumeration value="cuttings"/>
            <xs:enumeration value="seeds"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColorType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="VisualParametersType">
        <xs:sequence>
            <xs:element name="StemColor" type="ColorType"/>
            <xs:element name="LeafColor" type="ColorType"/>
            <xs:element name="AverageSize">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrowingTipsType">
        <xs:sequence>
            <xs:element name="Temperature" type="xs:integer"/>
            <xs:element name="Lighting" type="xs:boolean"/>
            <xs:element name="Watering">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="7"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlantType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Soil" type="SoilType"/>
            <xs:element name="Origin" type="xs:string"/>
            <xs:element name="VisualParameters" type="VisualParametersType"/>
            <xs:element name="GrowingTips" type="GrowingTipsType"/>
            <xs:element name="Multiplying" type="MultiplyType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="Flower">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Plant" type="PlantType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
